*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100vh;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
    border-bottom: 1px solid black;
}
.logo {
    width: clamp(40px, 6vw, 72px);
    height: auto;
}
.navIzquierda{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.menu{
    width: 30px;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}
.menu:hover .bar1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.menu:hover .bar2 {
  opacity: 0;
}
.menu:hover .bar3 {
  transform: rotate(-45deg) translate(6px, -8px);
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
main .musica {
    position: absolute;
    top: 95%;
    left: 10%;
    transform: translate(-50%, -25%);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}
.cartaJuegoSopaLetras, .cartaJuegoMemoria {
position: relative;
width: 280px;
border-radius: 16px;
overflow: hidden;
}
.cartaJuego img {
    width: 100%;
    height: auto;
    display: block;
}
.overlay-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 64px;
    height: 64px;
    border-radius: 50%;

    background-color: rgba(255, 51, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.overlay-play i {
    color: white;
    font-size: 24px;
}
.cartaJuegoMemoria{
    margin-top: 2rem;
}
.cartaJuegoSopaLetras{
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.contenidoCarta {
    display: flex;
    flex-direction: column;
    align-items: center; /* eje común */
}
.cartaJuegoSopaLetras .tituloJuego, .cartaJuegoMemoria .tituloJuego {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    padding: 4px 32px;
}

.descripcionJuego {
    font-size: 0.9rem;
    margin-top: 0.25rem;
    text-align: left;
    padding: 8px;
    width: 280px;
    border: 1px solid black;
}
.descripcionJuego figure {
    display: flex;
    justify-content: center;
}

.descripcionJuego p{
    border-top: 1px solid black;
}

.descripcionJuego figure img{
    aspect-ratio: 1/1;
    width: 200px;
    object-fit: contain;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 16px;
    align-items: center;
    border-top: 1px solid black;
}

.izquierda{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
}

.derecha{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    width: fit-content;
}