*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.logo {
    width: clamp(40px, 6vw, 72px);
    height: auto;
}
.navIzquierda{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 0.2rem;
    margin-left: 16px;
}
.icono {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem; /* reduce el margen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-icon-menu);
  height: 55px;
  width: 45px; /* un poco más pequeño */
  border-radius: 30% 0 0 30%;
  z-index: 10000;
  box-sizing: border-box; /* importante */
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 6px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-12px, 11px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-12px, -12px);
}