@import "reset.css";
@import "./variables.css";
@import "./layout.css";
@import "./components.css";
@import "./utilities.css";

:focus-visible {
  outline: 5px solid #55ff00;
  outline-offset: 5px;
}   