nav {
    background-color: var(--color-primary);
}

.nav-links a {
    color: var(--color-white);
}

.nav-links a:hover,
.nav-links a:focus,
.nav-container .logo:hover {
    color: var(--color-gray-300);
}

.overlay-play {
    background-color: var(--color-primary);
}

.overlay-play i {
    color: var(--color-white);
}

.logo {
    color: var(--color-white);
}

main {
    border-color: var(--color-white);
}

main>.musica {
    border: 1px solid var(--color-black);
}

.menu-btn {
    color: var(--color-white);
}

footer {
    background-color: var(--color-primary);
}

@media(max-width: 768px) {
    .nav-links.active {
        background-color: var(--color-primary);
    }
}